# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
venv/
env/
.venv/
.python-version

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
Thumbs.db
ehthumbs.db
Desktop.ini

# Node modules (if you ever use Node.js stuff)
node_modules/
